body{
    background: black;
    padding: 0;
    margin: 0;
}
canvas{
    margin: 0;
    padding: 0;
    background: black;
}

#GameMenu{
    min-width: 737px;
    width: 100%;
    position: absolute;
}
#logo{
    max-width: 205px;
    max-height: 181px;
    margin-top: 10%;
    width: 20%;
}
#title{
    
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    color: aliceblue;
    transition: 1s;
}

.shrink{
    margin: 0;
    padding: 0;
    width: 10%;
}
.grid{
    display: inline-block;
    width: 25%;
    place-items: center;
}

.customButton{
    text-align: center;
    margin: 10px;
    user-select: none;
    padding: 7px;
    border: 2px solid white;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: aliceblue;
    opacity: 0.6;
    transition: all .2s ease-in-out; 
}
.customButton:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.score{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    color: aliceblue;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    color: aliceblue;
}
.ScoreDiv{
    margin-top: 5vh;
    display: flex;
    text-align: center;
    align-items: center;    
    justify-content: center;
}